*.suo
AlbertEinsteinHospital/AlbertEinsteinHospital/bin/Debug/AlbertEinsteinHospital.exe
*.pdb
AlbertEinsteinHospital/AlbertEinsteinHospital/obj/Debug/AlbertEinsteinHospital.csproj.FileListAbsolute.txt
*.cache
AlbertEinsteinHospital/AlbertEinsteinHospital/obj/Debug/AlbertEinsteinHospital.pdb