*.suo
AlbertEinsteinHospital/AlbertEinsteinHospital/bin/Debug/AlbertEinsteinHospital.exe
*.pdb
AlbertEinsteinHospital/AlbertEinsteinHospital/obj/Debug/AlbertEinsteinHospital.csproj.FileListAbsolute.txt
*.cache
AlbertEinsteinHospital/AlbertEinsteinHospital/obj/Debug/AlbertEinsteinHospital.pdb
AlbertEinsteinHospital/AlbertEinsteinHospital/AEH.edmx
AlbertEinsteinHospital/AlbertEinsteinHospital/AEH.edmx.diagram
AlbertEinsteinHospital/AlbertEinsteinHospital/FormPaciente.cs
AlbertEinsteinHospital/AlbertEinsteinHospital/obj/Debug/TempPE/AEH.cs.dll